.title-area {
  padding-top: 2vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 60%;
}

.twoInOne {
  display: flex; width: 100%;
}
