<app-navbar></app-navbar>
<!--<h3 mat-card-title class="mat-title">Add User Form</h3>-->
<!--<div class="add-user-form-container">-->
<!--  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>-->

<!--    <mat-form-field class="mat-input-full">-->
<!--      <input formControphone="fname" type="text" matInput placeholder="Firstname" required>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="mat-input-full">-->
<!--      <input formControphone="phone" type="text" matInput placeholder="Lastname" required>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="mat-input-full">-->
<!--      <input formControphone="email" type="text" matInput placeholder="email" required>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="mat-input-full">-->
<!--      <input formControphone="role" type="text" matInput placeholder="role" required>-->
<!--    </mat-form-field>-->

<!--      <input formControphone="imgPath" type="image">-->

<!--    <button color="primary" type="submit" mat-button>Submit</button>-->
<!--  </form>-->
<!--</div>-->

<div class="container">
  <div class="title-area">
    <h3>Add User Form</h3>
  </div>
<!--  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>-->
<!--    <div class="input-field col s6">-->
<!--      <label for="name">Name</label>-->
<!--      <input formControlName="user_name" type="text" class="form-control" id="name" aria-describedby="nameHelp">-->
<!--      <span class="text-danger" *ngIf="(userFormControl.user_name.touched || submitted) && userFormControl.user_name.errors?.required">Name is required</span>-->
<!--    </div>-->
<!--    <div class="twoInOne">-->
<!--      <div class="input-field col s6">-->
<!--        <label for="email">Email</label>-->
<!--        <input formControlName="user_email" type="email" class="form-control" id="email"  aria-describedby="emailHelp">-->
<!--        <span class="text-danger" *ngIf="(userFormControl.user_email.touched || submitted) && userFormControl.user_email.errors?.required">Email is required</span>-->
<!--        <span class="text-danger" *ngIf="userFormControl.user_email.touched && userFormControl.user_email.errors?.email && userFormControl.user_email.hasError('pattern')">Enter valid email</span>-->
<!--      </div>-->
<!--      <div class="input-field col s6">-->
<!--        <label for="phone">Phone</label>-->
<!--        <input formControlName="user_phone" type="text" class="form-control" id="phone" aria-describedby="phoneHelp">-->
<!--        <span class="text-danger" *ngIf="(userFormControl.user_phone.touched || submitted) && userFormControl.user_phone.errors?.required">Phone number is required</span>-->
<!--        <span class="text-danger" *ngIf="userFormControl.user_phone.touched && userFormControl.user_phone.hasError('minlength') || userFormControl.user_phone.hasError('maxlength')">Phone number must have 10 digits</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="twoInOne">-->
<!--      <div class="input-field col s6">-->
<!--        <label for="password">Password</label>-->
<!--        <input formControlName="user_password" type="password" class="form-control" id="password" aria-describedby="passwordHelp">-->
<!--        <span class="text-danger" *ngIf="(userFormControl.user_password.touched || submitted) && userFormControl.user_password.errors?.required">Password is required</span>-->
<!--        <span class="text-danger" *ngIf="userFormControl.user_password.touched && userFormControl.user_password.hasError('minlength')">Password must have at least 8 characters</span>-->
<!--      </div>-->
<!--      <div class="input-field col s6">-->
<!--        <label for="confirmPassword">Confirm Password</label>-->
<!--        <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" aria-describedby="passwordHelp">-->
<!--        <span class="text-danger" *ngIf="(userFormControl.confirmPassword.touched || submitted) && userFormControl.confirmPassword.errors?.required">Confirm password is required</span>-->
<!--        <span class="text-danger" *ngIf="userFormControl.confirmPassword.errors?.mustMatch">Password and confirm password must match</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="twoInOne">-->
<!--      <div class="input-field col s12">-->
<!--        <div class="input-field col s6">-->
<!--          <input formControlName="user_dob" type="date" class="form-control datepicker" id="dob">-->
<!--        </div>-->
<!--        <span class="text-danger" *ngIf="(userFormControl.user_gender.touched || submitted) && userFormControl.user_gender.errors?.required">Gender is required</span>-->
<!--        <div>-->
<!--          <label for="gender"></label><select class="form-control" formControlName="user_gender" id="gender" aria-describedby="genderHelp" required>-->
<!--          <option value="" disabled selected>Choose your option</option>-->
<!--          <option value="male">Male</option>-->
<!--          <option value="female">Female</option>-->
<!--        </select>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div style="padding-top: 5vh">-->
<!--      <button type="submit"  class="btn waves-effect waves-light">Submit <i class="material-icons right">send</i></button>-->
<!--    </div>-->
<!--    </form>-->
</div>

<!--<div>-->
<!--  <form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onSubmit(f.value)">-->
<!--    <p class="h4 mb-4">Add User</p>-->
<!--    <input type="text" name="fname" class="form-control mb-4" ngModal placeholder="Firstname">-->
<!--    <input type="text" name="phone" class="form-control mb-4" ngModal placeholder="Lastname">-->
<!--    <input type="email" name="email" class="form-control mb-4" ngModal placeholder="E-mail">-->
<!--    <input type="text" name="role" class="form-control mb-4" ngModal placeholder="role">-->
<!--    <button mdbBtn color="info" block="true" type="submit">Send</button>-->
<!--  </form>-->
<!--</div>-->
