<app-navbar></app-navbar>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Role</th>
    <th scope="col">Approval</th>
  </tr>
  </thead>
  <tbody *ngFor="let u of user, let i = index">
  <tr *ngIf="!u.Active_user">
    <th scope="row">{{ u.user_id }}</th>
    <td>{{ u.user_name }}</td>
    <td>{{ u.user_email }}</td>
    <td>{{ u.user_phone }}</td>
    <td>{{ u.user_role }}</td>
    <td class="button-area">
      <button class="btn btn-primary" (click)="approve(u.user_id)">Approve</button>
<!--        <input type="checkbox" (change)="toggle($event, u)" [checked]="u.Is_Active" [(ngModel)]="u.Is_Active" name="authToggle">-->
      <button (click)="disapproval(u.user_id)" class="btn btn-danger">Decline</button>
    </td>
  </tr>
  </tbody>
</table>
