.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
}

.login-form {
  width: 30%;
}

.button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
