<div class="login-container">
  <div class="login-form">
    <form class="text-center border border-light p-5" #form='ngForm' (ngSubmit)="onSubmit(form.value)">
      <p class="h4 mb-4">Sign in</p>
      <input type="email"  name="user_email" ngModel id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
      <input type="password" name="user_password" ngModel id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      <div class="button-area">
        <button block="true" class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
        <button block="true" class="btn btn-secondary my-4 btn-block" (click)="signUp()">Sign up</button>
      </div>
    </form>
  </div>
</div>
<app-view-profile hidden [userData]="currentUserData" (viewUserProfile)="viewProfileEmitted($event)"></app-view-profile>
