<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">ETS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="text-decoration: none;" routerLink="/users">Users</a></li>
        <li><a style="text-decoration: none;" routerLink="/approve">Approve Users</a></li>
        <li><a style="text-decoration: none;" routerLink="/view-profile">View Profile</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
