.add-user-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.main-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.change-view {
  display: flex;
}

.view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
