<app-navbar></app-navbar>
<div class="main-container">
  <div class="change-view">
    <div style="padding: 5px" (click)="toggleView()">
      <a style="cursor: pointer"><i class="material-icons">
        list
      </i></a>
    </div>
    <div style="padding: 5px" (click)="toggleView()">
      <a style="cursor: pointer"><i class="material-icons">
        grid_on
      </i></a>
    </div>
  </div>
  <div class="view-content" [hidden]="showList == false">
    <div style="width: 30%" *ngFor="let u of user">
      <ul class="collection" *ngIf="u.Active_user">
        <li class="collection-item avatar">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1" alt="" class="circle">
          <span class="title">{{ u.user_name }}</span>
          <p>{{ u.user_email }}<br>
            {{ u.user_phone }}<br>
            {{ u.user_gender }}<br>
            {{ u.user_dob.substr(0,10) }}<br>
          </p>
          <div class="secondary-content" style="display: flex; justify-content: space-between">
            <a (click)="deleteUser(u.user_id)" style="cursor: pointer"><i class="material-icons">delete_forever</i></a>
            <a style="display: flex; justify-content: flex-end; cursor: pointer;" (click)="updateUser(u)" data-toggle="modal" data-target="#basicExampleModal">
              <i class="material-icons">
                edit
              </i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid col-md-10 view-content">
    <div class="row" style="width: 18rem" *ngFor="let u of user" [hidden]="showList == true">
      <div class="col s12 m6" *ngIf="u.Active_user">
        <div class="card">
          <div class="card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      </div>
  </div>

  <div class="add-user-button">
    <a class="btn-floating btn-large waves-effect waves-light red" (click)="addUser()" data-toggle="modal" data-target="#basicExampleModal"><i class="material-icons">add</i></a>
  </div>
</div>
<app-update-modal [userEditData]="userInfo" (updateEditData)="handleAddOrEdit($event)"></app-update-modal>
