<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="isFormVisible"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onSubmit(userData)">
    <div class="modal-content">
              <p class="h4 mb-4">{{ userData.user_id ? 'Edit User' : 'Add User' }}</p>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" #name="ngModel" id="name" [ngClass]="{'is-invalid': f.submitted && name.invalid}" name="name" class="form-control mb-4" [(ngModel)]="userData.user_name" required>
                <div *ngIf="f.submitted && name.invalid" class="is-invalid">
                  <span *ngIf="name.errors.required">Name is required</span>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" id="email" name="email" class="form-control mb-4" [(ngModel)]="userData.user_email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" #phone="ngModel" [ngClass]="{'is-invalid': f.submitted && phone.invalid}" name="phone" id="phone" class="form-control mb-4" [(ngModel)]="userData.user_phone" maxlength="10" minlength="10">
              </div>
              <div class="form-group" [hidden]="userData.user_id >= 0">
                <label for="password">Password</label>
                <input type="password" #password="ngModel" [ngClass]="{'is-invalid': f.submitted && password.invalid}" name="password" id="password" class="form-control mb-4" [(ngModel)]="userData.user_password">
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <input type="text" #role="ngModel" [ngClass]="{'is-invalid': f.submitted && role.invalid}" name="role" id="role" class="form-control mb-4" [(ngModel)]="userData.user_role">
              </div>
              <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="date" #dob="ngModel" [ngClass]="{'is-invalid': f.submitted && dob.invalid}" name="dob" id="dob" class="form-control mb-4" [(ngModel)]="userData.user_dob" required>
              </div>
              <div class="form-group">
                <label for="gender"></label><select #gender name="gender" id="gender" class="form-control mb-4" [(ngModel)]="userData.user_gender" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              </div>
        <button mdbBtn class="btn btn-info" [disabled]="f.invalid" type="submit"> {{ userData.user_id ? 'Update' : 'Add' }} </button>
        <button mdbBtn #CloseBtn class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </form>
  </div>
</div>


