/* You can add global styles to this file, and also import other style files */

@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

html, body { height: 100%;
width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
