<form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <input ngModel type="text" name="name" id="defaultRegisterFormName" class="form-control" placeholder="Name">
    </div>
    <div class="col">
      <input type="text" name="role" id="defaultRegisterFormRole" ngModel class="form-control" placeholder="Role">
    </div>
  </div>
  <input type="email" name="email" id="defaultRegisterFormEmail" ngModel class="form-control mb-4" placeholder="E-mail">
  <input type="password" name="password" id="defaultRegisterFormPassword" ngModel class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 8 characters
  </small>
  <input type="text" name="phone" id="defaultRegisterPhone" class="form-control" ngModel placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
  <input hidden type="text" name="isAuth" id="defaultRegisterIsAuth" [(ngModel)]="default" class="form-control" ngModel>
  <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>
</form>
